<div class="author">
  <p style="text-align: center;">
  <img src="/assets/img/author.png" class="img-circle zoombtn">
  </p>
  <h2 class="author-name">{{ site.author.name }}</h2>
  <h2 class="author-name2">{{ site.author.name2 }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="flex-center">
    <a class="fa fa-github fa-1x icon-3d" href="https://github.com/zeroInterest/"></a>
    <a class="fa fa-envelope fa-1x icon-3d" href="mailto: francesc.busquet@unisg.ch"></i>
    <a class="fa  fa-linkedin fa-1x icon-3d" href="https://www.linkedin.com/in/francescbusquet/"></a>
  </div>
</div>
