<!-- unnecessary file, however you can still use for comment section, e.g disqus -->



<script src="https://utteranc.es/client.js"
        repo="zeroInterest/zeroInterest.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
        
        
   const initTheme2 = (state) => {
      if (state === "dark") {
        const message = {
          type: 'set-theme',
          theme: 'github-dark'
        };
        var utterances = document.querySelector('iframe');
        utterances.contentWindow.postMessage(message, 'https://utteranc.es');
      } else if (state === "light") {
        const message = {
          type: 'set-theme',
          theme: 'github-light'
        };
        var utterances = document.querySelector('iframe');
        utterances.contentWindow.postMessage(message, 'https://utteranc.es');
      } 
    };
 
 
    initTheme2(localStorage.getItem("theme"));
</script>
